.collections{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:1em;
}

.collections{
    cursor: pointer;
}

.collection-items{
    display: flex;
    justify-content: space-between;
    gap:0 1em;
}