.collection-item{
    display: flex;
    flex-direction: column;
    gap:0.5em 0;
    cursor: pointer;
}
.item-image{
    height:280px;
    width:260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cart-btn{
    transform: translateY(400%);
    padding:0.6em 1em;
    font-family: inherit;
    color:#fff;
    background-color: rgba(0,0,0,0.6);
    outline: none;
    border:0;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.item-info{
    display: flex;
    justify-content: space-between;
}

.info{
    font-weight: bold;
}

.collection-item:hover .cart-btn{
    transform: translateY(0);
}