.collection-item{
    display: flex;
    flex-direction: column;
    gap:0.5em 0;
    cursor: pointer;
}
.item-image{
    position: relative;
    height:280px;
    width:260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item-image button{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
}
.item-info{
    display: flex;
    justify-content: space-between;
}

.info{
    font-weight: bold;
}

.collection-item:hover button{
    opacity: 1;
}