.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1.2em 5em;
}

.directory-menu{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1em;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    height:240px;
    flex:1 1 auto;
    border: 1px solid black;
}

.content{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
}

.title{
    font-size: x-large;
}